*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
}

.meter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.meter-head-container {
  position: relative;
  width: 100%;
  min-height: 1rem;
  background-color: rgb(30, 30, 30);
}

.meter-head {
  position: absolute;
  background-color: blue;
  inset: 0;
  width: 0%;
}

.meter-indicator {
  text-wrap: nowrap;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(10, 10, 10);
  gap: 1rem;
  overflow-x: hidden;
}

.main-table {
  width: 100%;
}

.table-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  min-height: fit-content;
}

.heading-text {
  font-size: min(3rem, 5vw);
  font-weight: bolder;
  position: fixed;
  text-wrap: nowrap;
  z-index: -2;
  translate: -50% 100%;
  transition:
    filter,
    opacity 1s;
}

.heading-text::after {
  content: attr(data-text);
  position: absolute;
  top: 70%;
  left: 0;
  transform: perspective(1rem) rotateX(10deg) scale(1.15, -1);
  background-image: linear-gradient(
    to top,
    white 0%,
    rgb(30, 30, 30) 50%,
    transparent 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-text-bg {
  filter: blur(1rem) brightness(2);
  opacity: 0.2;
}

.canvas-bg {
  position: fixed;
  width: 100wh;
  height: 100vh;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  min-height: 15rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

.social-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
}

.social-link a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.social-link a img {
  width: 1.8rem;
}

.social-link a p {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(150, 150, 150);
}

.table-def {
  background-color: rgb(50, 50, 50);
  text-wrap: nowrap;
  padding: 4px;
}

.people-count,
.people-count-btn {
  background-color: transparent;
  border: none;
  box-shadow: 0 5px 10px 0 rgb(50, 50, 50);
  padding: 1rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  color: rgb(150, 150, 150);
  transition: color 1s cubic-bezier(0, 1.03, 0.69, 0.99);
  transition: box-shadow 1s cubic-bezier(0, 1.03, 0.69, 0.99);
}

.people-count-btn:hover {
  cursor: pointer;
}

.people-count:hover,
.people-count-btn:hover {
  color: white;
  box-shadow: 0 5px 10px 0 rgb(70, 70, 70);
}

form {
  display: flex;
  gap: 1rem;
}

.link {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  justify-content: center;
}

.link a {
  font-size: 0.8rem;
  color: rgb(200, 200, 200);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.7rem;
  text-wrap: nowrap;
  background-color: rgb(10, 10, 10);
  height: 2rem;
}

.blob-background {
  position: fixed;
  top: 20%;
  left: 50%;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  transition: opacity 500ms cubic-bezier(0, 1.03, 0.69, 0.99);
  transition: top 1s cubic-bezier(.95,.24,.1,.98);
}

.blob-blur {
  opacity: 0.1;
  top: 50%;
}

.blob1 {
  width: 20vw;
  height: 20vw;
  translate: 50%;
  background: linear-gradient(45deg, #ff6f61, #f5a623, #7ed321);
  animation: blobAnimation1 10s infinite ease-in-out;
}

.blob1::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(1rem);
  background: linear-gradient(45deg, #ff6f61, #f5a623, #7ed321);
  animation: blobAnimation1 10s infinite ease-in-out;
}

.blob2 {
  width:30vw;
  height: 30vw;
  translate: -20% -20%;
  background: linear-gradient(45deg, #007aff, #00ffcc, #ff6347);
  animation: blobAnimation2 12s infinite ease-in-out;
}

.blob2::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(1rem);
  background: linear-gradient(45deg, #007aff, #00ffcc, #ff6347);
  animation: blobAnimation2 12s infinite ease-in-out;
}

.blob3 {
  width: 20vw;
  height: 20vw;
  translate: 10% 20%;
  background: linear-gradient(45deg, #d13f6b, #ffcc00, #55ff6d);
  animation: blobAnimation3 8s infinite ease-in-out;
}

.blob3::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(1rem);
  background: linear-gradient(45deg, #d13f6b, #ffcc00, #55ff6d);
  animation: blobAnimation3 8s infinite ease-in-out;
}

@keyframes blobAnimation1 {
  0% {
    border-radius: 50% 40% 60% 50% / 50% 55% 45% 50%;
  }
  25% {
    border-radius: 40% 60% 50% 60% / 50% 45% 55% 50%;
  }
  50% {
    border-radius: 60% 50% 40% 60% / 50% 50% 55% 45%;
  }
  75% {
    border-radius: 50% 60% 50% 40% / 45% 50% 50% 55%;
  }
  100% {
    border-radius: 50% 40% 60% 50% / 50% 55% 45% 50%;
  }
}

@keyframes blobAnimation2 {
  0% {
    border-radius: 60% 40% 50% 60% / 50% 60% 45% 55%;
  }
  25% {
    border-radius: 50% 55% 60% 45% / 55% 50% 50% 60%;
  }
  50% {
    border-radius: 45% 50% 55% 60% / 50% 55% 60% 45%;
  }
  75% {
    border-radius: 60% 45% 50% 55% / 60% 50% 55% 50%;
  }
  100% {
    border-radius: 60% 50% 60% 45% / 55% 50% 50% 55%;
  }
}

@keyframes blobAnimation3 {
  0% {
    border-radius: 40% 60% 50% 40% / 50% 45% 60% 55%;
  }
  25% {
    border-radius: 60% 50% 40% 50% / 45% 55% 50% 60%;
  }
  50% {
    border-radius: 50% 60% 45% 50% / 60% 50% 55% 45%;
  }
  75% {
    border-radius: 45% 50% 60% 55% / 55% 60% 45% 50%;
  }
  100% {
    border-radius: 40% 50% 60% 45% / 60% 55% 50% 45%;
  }
}
